@import "/src/style/primevue-theme.css";
@import "/node_modules/primevue/resources/primevue.min.css";
@import "/node_modules/primeicons/primeicons.css";
@import "scrollbar.scss";
@import "slots-common.scss";
@import "slots-stat-edit.scss";
@import "modals-common.scss";

.gear-name,
.skill-name,
.weapon-name {
	border-bottom: 1px solid white;
	padding: 8px;
	cursor: pointer;
	position: relative;
	opacity: 1;

	&::after {
		content: "";
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABaklEQVR4Xu2aTUoDQRCFv2yNP9cInsCtbkWCl9EraE4jwWXIVo8gXiIkxL0URNBON3Yyq6p6s00z9Hv1VVdPpUYkf0bJ9SMDREByB5QCyQHQIagUUAokd0Ap0ABgAjwBN8CZc0i+gCXwAHyUWmoEmPh34MK58HL7a+CqNKFmwAswDSb+R8681FYzYBMA+1b8tqW2mgG2aByUgC4DDJO7oAZYet//1pbpEFztDsHP/wyw360SPO/K4KlzGgz7BfAI/BFvunQRch7dwdsXAYMtdP4CEeA8gIO3LwIGW+j8BS0CLoEZcA2cONd4cD/AxL8B586FH90PeAVug4k/qB9gyHjHXv2AhgPqB6gfUHwSt8qg+gFBq8CeLF2Fs0S6pVMEiIDkDigFkgPQ/F9A/QD1A2LmRtd8gPoBmg/QfEDIISnNB2g+oFLZdBWOWe77VYmAfq9irhQBMePar0oE9HsVc6UIiBnXflXpCfgGC8dCQbbkoGgAAAAASUVORK5CYII=");
		height: 15px;
		width: 15px;
		right: 6px;
		background-position: center;
		background-size: cover;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		filter: invert(1);
	}

	font-weight: 700;
	color: black;

	&.high-end,
	&.named {
		background: #ffaf00;
	}

	//   &.named {
	//     background: #ff9310;
	//   }

	&.exotic {
		background: #e14b32;
	}

	&.gearset {
		background: #4baf64;
	}
}

.bold {
	font-weight: 700;
}

body .v--modal {
	background-color: #252525;
}

/*== code for tooltips from https://codepen.io/pure-css/pen/bddggP ==*/
.tool {
	cursor: help;
	position: relative;
	&::before {
		pointer-events: none;
		left: 50%;
		opacity: 0;
		position: absolute;
		z-index: -100;
		border-style: solid;
		border-width: 1em 0.75em 0 0.75em;
		border-color: #3e474f transparent transparent transparent;
		bottom: 100%;
		content: "";
		margin-left: -0.5em;
		transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26),
			opacity 0.65s 0.5s;
		transform: scale(0.6) translateY(-90%);
	}
	&::after {
		pointer-events: none;
		left: 50%;
		opacity: 0;
		position: absolute;
		z-index: -100;
		background: #3e474f;
		border-radius: 0.25em;
		bottom: 150%;
		color: #edeff0;
		content: attr(data-tip);
		margin-left: -8.75em;
		padding: 1em;
		transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
		transform: scale(0.6) translateY(50%);
		width: 17.5em;
	}
	&:hover {
		&::before {
			opacity: 1;
			transform: scale(1) translateY(0);
			z-index: 100;
			transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
		}
		&::after {
			opacity: 1;
			transform: scale(1) translateY(0);
			z-index: 100;
			transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26);
			white-space: pre-wrap;
		}
	}
	&:focus {
		&::before {
			opacity: 1;
			transform: scale(1) translateY(0);
			z-index: 100;
			transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
		}
		&::after {
			opacity: 1;
			transform: scale(1) translateY(0);
			z-index: 100;
			transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26);
		}
	}
}
@media (max-width: 760px) {
	.tool {
		&::after {
			font-size: 0.75em;
			margin-left: -5em;
			width: 10em;
		}
	}
}

// Chrome agent fix
input {
	color: white;
}

.white-space-pre-wrap {
	white-space: pre-wrap;
}
