.slot-element {
	margin-top: 8px;
	align-items: center;
	position: relative;

	.attribute-image {
		height: 25px;
		width: 25px;
		padding: 4px;
		margin-top: -3px;
	}
}

.named-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	img.named-logo {
		height: 25px;
		width: auto;
		margin: -8px 4px -8px 0px;
	}
}

.section-title {
	font-weight: 700;
	border-bottom: 1px solid white;
	width: 100%;
	margin-bottom: 16px;
	// position: sticky;
	// top: 0;
	background: #1a1e24;
	display: flex;
	align-items: center;
	padding: 8px 0px;
	z-index: 99;
	.image {
		width: 25px;
		margin-right: 4px;
	}
}

.arrow-down {
	height: 14px;
	width: 14px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' fill='white' height='10' role='presentation' class='vs__open-indicator'%3E%3Cpath d='M9.211364 7.59931l4.48338-4.867229c.407008-.441854.407008-1.158247 0-1.60046l-.73712-.80023c-.407008-.441854-1.066904-.441854-1.474243 0L7 5.198617 2.51662.33139c-.407008-.441853-1.066904-.441853-1.474243 0l-.737121.80023c-.407008.441854-.407008 1.158248 0 1.600461l4.48338 4.867228L7 10l2.211364-2.40069z'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	margin-left: auto;
	background-position: bottom;
}

.arrow-up {
	height: 14px;
	width: 14px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='transform: scale(1,-1)' width='14' fill='white' height='10' role='presentation' class='vs__open-indicator'%3E%3Cpath d='M9.211364 7.59931l4.48338-4.867229c.407008-.441854.407008-1.158247 0-1.60046l-.73712-.80023c-.407008-.441854-1.066904-.441854-1.474243 0L7 5.198617 2.51662.33139c-.407008-.441853-1.066904-.441853-1.474243 0l-.737121.80023c-.407008.441854-.407008 1.158248 0 1.600461l4.48338 4.867228L7 10l2.211364-2.40069z'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	margin-left: auto;
	background-position: bottom;
}

.btt {
	margin-right: 8px;
	color: white;
	border: 1px solid white;
	background: transparent;
	min-height: 32px;
}

.mx-input {
	min-width: 0;
	flex: 1 1 auto;
	height: 31px;
	line-height: 31px;
	padding: 0px;
	background: transparent;
	border: 0px;
	font-size: 16px;
	color: white;
	font-family: "Titillium Web", sans-serif;
	font-weight: 400;
	border-bottom: 1px solid white;
}

.mx-btt {
	margin-right: 8px;
	color: white;
	border: 1px solid white;
	background: transparent;
	min-height: 32px;
	cursor: pointer;
	padding: 1px 6px;
}
