.slot-element {
	&.stat-edit {
		display: flex;

		.p-dropdown {
			flex: 3;
		}
	}
	&.talent {
		display: flex;

		.p-dropdown {
			flex: 1;
		}
	}
	&.weapon-mod-slot {
		display: flex;
		flex-direction: column;
		flex-wrap:wrap;

		.p-dropdown {
			flex: 1;
			min-width: 100%;

			.p-dropdown-label {
				white-space: normal;
			}
		}		
	}

}

// TESTING...
//.p-dropdown-item {
//	display:flex;
//	align-items: center;
//}

input.expertise-value {
	$height: 31px;
	min-width: 0;
	flex: 1;
	height: $height;
	line-height: $height;
	padding: 0px;
	margin-left: 8px;
	// background: rgba(0, 0, 0, 0.3);
	background: transparent;
	border: 0px;
	border-bottom: 1px solid white;
	font-size: 16px;
	color: white;
	font-weight: 400;
	&:disabled {
		opacity: 0.5;
	}
}

input.stat-value {
	$height: 31px;
	min-width: 0;
	flex: 1;
	height: $height;
	line-height: $height;
	padding: 0px;
	margin-left: 8px;
	// background: rgba(0, 0, 0, 0.3);
	background: transparent;
	border: 0px;
	border-bottom: 1px solid white;
	font-size: 16px;
	color: white;
	font-weight: 400;
	&:disabled {
		opacity: 0.5;
	}
}

// /* Chrome, Safari, Edge, Opera */
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
// }

// /* Firefox */
// input[type=number] {
//     -moz-appearance: textfield;
// }
