.slot-element {
    margin-top: 8px;
    align-items: center;
    position: relative;

    .attribute-image {
        height: 25px;
        width: 25px;
        padding: 4px;
        margin-top: -3px;
    }
}

.named-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    img.named-logo {
        height: 25px;
        width: auto;
        margin: -8px 4px -8px 0px;
    }
}
