.slot-element {
	margin-top: 8px;
	align-items: center;
	position: relative;

	.attribute-image {
		height: 25px;
		width: 25px;
		padding: 4px;
		margin-top: -3px;
	}
}

.named-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	img.named-logo {
		height: 25px;
		width: auto;
		margin: -8px 4px -8px 0px;
	}
}

.section-title {
	font-weight: 700;
	border-bottom: 1px solid white;
	width: 100%;
	margin-bottom: 16px;
	// position: sticky;
	// top: 0;
	background: #1a1e24;
	display: flex;
	align-items: center;
	padding: 8px 0px;
	z-index: 99;
	.image {
		width: 25px;
		margin-right: 4px;
	}
}

.btt {
	margin-right: 8px;
	color: white;
	border: 1px solid white;
	background: transparent;
	min-height: 32px;
}

.mx-input {
	min-width: 0;
	flex: 1 1 auto;
	height: 31px;
	line-height: 31px;
	padding: 0px;
	background: transparent;
	border: 0px;
	font-size: 16px;
	color: white;
	font-family: "Titillium Web", sans-serif;
	font-weight: 400;
	border-bottom: 1px solid white;
}

.mx-btt {
	margin-right: 8px;
	color: white;
	border: 1px solid white;
	background: transparent;
	min-height: 32px;
	cursor: pointer;
	padding: 1px 6px;
}
